{% extends 'public/homepage2.html'%}
<html>
<body >
	 
{% block content %}

	<div id="wrap" style="padding:20px;">
		 
<div style="color:grey;font-family:"Helvetica",Arial, sans-serif; position:relative; padding:5%;">
<h2>Goal of this website</h2>
<p style="width:70%;">This website is mainly used to address the janta's problems to the respective politician who in turn interact with the janta and can help solve the problem, and can also make improvements to the issue ie we are just helping in bridging the gap between the janta and the politician.</p>
{% endblock %}

{%block footer%}
        <div id="foot" style="margin:auto;z-index:999">
            <ul style="font-size:1.3em;margin:auto; width:41%;height:18px;margin-top:1%;">
                <li style="display:inline;">
                    <a href="/home/" style="color:#FB8B00">Home</a>
                </li>
                <li style="display:inline;">
                    <label style="color:#FB8B00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </li>
                <li style="display:inline;">
                    <a href="/locality/" style="color:#FB8B00">Locality</a>
                </li>
                <li style="display:inline;">
                    <label style="color:#FB8B00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </li>
                <li style="display:inline;">
                    <a href="/post/" style="color:#FB8B00">Post</a>
                </li>
                <li style="display:inline;">
                    <label style="color:#FB8B00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </li>
                <li style="display:inline;">
                    <a href="/feedback/" style="color:#FB8B00">Feedback</a>
                </li>
                <li style="display:inline;">
                    <label style="color:#FB8B00">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </li>
                <li style="display:inline;">
                    <a href="/aboutus/" style="color:#FB8B00">About Us</a>
                </li>
            </ul>
            

        </div>
       
            
        {%endblock%}
</body>

</html>

