<html>
<title>
	Organize Debate
</title>

<head>
	<link rel="stylesheet" href="jquery/jquery-ui.css" />
	<script src="jquery/jquery-1.9.1.js"></script>
	<script src="jquery/jquery-ui.js"></script>
   	<script src="politics.js"></script>
	<link rel="stylesheet" type="text/css" href="style/style2.css">
	<link href="jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<form>
		<fieldset>
		<h4>Enter The topic of the debate</h4>
		<textarea placeholder="Enter Topic" rows="3" cols="20"></textarea><hr/>
		<h4>Enter The date</h4>
		<textarea placeholder="Enter Date" rows="3" cols="20"></textarea><hr/>
		<h4>Enter The time</h4>
		<textarea placeholder="Enter Time" rows="3" cols="20"></textarea><hr/>
		</fieldset>
		<button type="submit">Organize Debate</button>
		<button type="submit">Send Notification to Users</button>
	</form>
</body>