<html>
<title>
	Politician Sign Up
</title>
<head>
	<link rel="stylesheet" href="jquery/jquery-ui.css" />
	<script src="jquery/jquery-1.9.1.js"></script>
	<script src="jquery/jquery-ui.js"></script>
   	<script src="politics.js"></script>
	<link rel="stylesheet" type="text/css" href="style/style2.css">
	<link href="jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<form>
	<fieldset>
		Name 	<input type="text" name="name" placeholder="Name"><br>
		Password <input type="password" name="password" placeholder="Password"><br>
		Confirm Password    <input type="password" name="password" placeholder="Password"><br>
		Email Id      <input type="text" name="Email" placeholder="Email Address"><br>
		<hr />
		<hr />
		About Yourself<br>
		<textarea placeholder="Write something about yourself" rows="5" cols="60"></textarea>
		<hr />
		<hr />
		Locality <input type="text" name="locality" placeholder="locality"><br>
		Political Party<input type="text" name="party" placeholder="Political Party"><br>
		Age <input type="text" name="age" placeholder="Age"> <br>
		Date Of Birth<input type="text" name="D-O-B" placeholder="Date of Birth"><br>
	</fieldset>
	<button>Submit</button>
	</form>
</body>

</html>